@import "../../../main.scss";

///////////////////////////////////////////
// using "Dracula" theme of highlight.js //
///////////////////////////////////////////

.hljs {
	@include size(70vw, 80vh);
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: $editor-theme;
	font-size: 23px;
	color: #9cdcfe !important;
	span {
		white-space: initial;
	}
	min-width: 250px;
	min-height: 520px;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
	color: #8be9fd;
}
.hljs-params {
	color: #9cdcfe;
}
.hljs-keyword {
	color: #569cd6 !important;
}

.hljs,
.hljs-subst {
	color: #f8f8f2;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
	color: #dcdcaa;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
	color: #c39178;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
	color: #6a9955;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
	font-weight: bold;
	color: #dcdcaa;
}

.hljs-literal,
.hljs-number {
	color: #b5cea8;
}

.hljs-emphasis {
	font-style: italic;
}

.CodeBlockMentor {
	@include size(75vw, 83vh);
	display: flex;
	position: relative;
	min-width: 300px;
	min-height: 540px;
	align-items: center;
	padding-left: 0.5vw;
	background: $editor-theme;
}

@media only screen and (max-width: 900px) {
	.CodeBlockMentor {
		@include size(90vw, 90vh);
		overflow-x: hidden;
	}
	.hljs {
		@include size(80vw, 87vh);
		font-size: 0.8rem !important;
	}
	.smiley {
		@include size(80vw, 87vh);
		font-size: 15rem;
	}
}
@media only screen and (max-width: 600px) {
	.title {
		font-size: 1.3rem !important;
	}
}
