@mixin size($width, $height: unset) {
	width: $width;
	height: $height;
}
@mixin position($top, $left: unset) {
	top: $top;
	left: $left;
}

$bg-theme: #9095a1;
$codeBlock-theme: #4c5265;
$font-family: "Kanit", sans-serif;
$editor-theme: #585d6e;

body {
	margin: 0;
	background: $bg-theme;
	font-family: $font-family;
}

.App {
	@include size(100vw, 100vh);
}

h1 {
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
.loader {
	border: 20px solid #dfdfdf;
	border-radius: 50%;
	border-top: 20px solid #3498db;
	width: 250px;
	height: 250px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
